1,c#,java,javascript,objective-c,php,sql
1000,c#,go,java,javascript,php,scala
241753,assembly,c#,c++,curl,java,javascript,php,python,rexx,ruby
308868,c,c#,c++,haskell,iolanguage,javascript,ruby,sql
1000011,bash,c++,groovy,java,javascript
1000021,php,ruby
1000024,java,javascript,php,prolog
1000026,c#,javascript,python,r,xslt
1000030,java,javascript,php,python,sql
1000039,assembly,c++
1000045,javascript,php
2325702,c,c++,r,scala,shell,sql
